

*{
font-family: Noto Sans;
}



::-moz-selection { /* Code for Firefox */

  color: #bfa9a1;
  background: black;


}


::selection {
  color: #bfa9a1;
  background: black;
}

a:link {
  color:  #4B4E41;
  background-color: transparent;
  text-decoration: none;
}


a:visited {
  color:  #4B4E41;
  background-color: transparent;
  text-decoration: none;
}


a:active {
  color: #bfa9a1;
  background-color: transparent;
  text-decoration: underline;
}

body{

        color:#bfa9a1;
        background: #121110;

        max-width: 800px;
        margin-left:auto;
        margin-right:auto;

}



h1 {


        color: #bfa9a1

}


h1 {

        text-align: center;


}
h1 {
  background: -webkit-linear-gradient(#bfa9a1, #121110);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


h2{
        text-align:center;
}


h4{
        text-align:center;
}





