.break{
    width: 90%;
    height: 50px;
    text-align: center;
    max-width:800px;
    padding:2px;
    position:relative;
    width: 100%;
    margin-left: 18%;
    margin-right: 40%;
}


::-moz-selection { /* Code for Firefox */

  color: #bfa9a1;
  background: black;


}


::selection {
  color: #bfa9a1;
  background: black;
}







*{
font-family: Noto Sans;

}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}



a {
  text-decoration: none;
}

nav {
  font-family: JetBrainsMono Nerd Font;

  list-style-type: none;
  margin: 0 auto;
  padding: 2;
  font-size: medium;
  text-align: center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

ul {
list-style-type: none;
margin: 0 auto;
padding: 0;

}

li {
color: #bfa9a1;
background: #121110;
display: block;
float: left;
padding: 1rem;
position: relative;
text-decoration: none;
transition-duration: 0.5s;
max-width:400px;
text-align:center;
/*border-radius: 0.5rem;*/


}

li a {

  display:flex;
  color: #bfa9a1; /* box text color*/
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;


}

li:hover,
li:focus-within {
background: #4B4E41;
cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
background: black;
visibility: hidden;
  opacity: 0;
  min-width: 1rem;
position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

ul li ul li {
clear: both;
  width: 100%;
}


.active {
  background-color: #4B4E41;
}




















body{

        color: #bfa9a1;
        background: #121110;

        max-width: 800px;
        margin-left:auto;
        margin-right:auto;

}



h1 {


        color: #bfa9a1;

}


h1 {

        text-align: center;


}
h1 {
  background: -webkit-linear-gradient(#bfa9a1, #121110);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


h2{
        text-align:center;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}


footer {
  text-align: center;
  padding: 3px;
  color:#C1A398


}


a:link {
  color:  #4B4E41;
  background-color: transparent;
  text-decoration: none;
}



a:visited {
  color:  #4B4E41;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #C1A398; /* Magenta */
  background-color: transparent;
  text-decoration: underline;
}


/*
.wrapper > ul:first-child > li:last-child {
}
.wrapper > ul:first-child > li:last-child > * {
  color: initial;
  list-style-type: disc;
  list-style-position: inside;
     list-style-type: circle;
   list-style-position: inside;
   margin-left: 15px;
      list-style-type: lower-latin;
   list-style-position: inside;
   margin-left: 15px;

}


.my_container ul
{
    list-style: initial;
    margin: initial;
    padding: 0 0 0 40px;
}

.my_container li
{
    display: list-item;
}
.my_container ol, .my_container ul {
    list-style: revert;
    overflow: visible;
}
        */

